* {
  font-family: 'Roboto';
}
.bg-container {
  width: 100%;
  background-color: #161625;
  min-height: 100vh;
  max-height: 100%;
  padding: 40px;
}
.vaccination-coverage-container {
  margin-top: 30px;
  background-color: #1c1c2b;
  border-radius: 10px;
  padding: 20px;
}
.d-flex {
  display: flex;
}
.site-logo {
  width: 50px;
  height: 50px;
}
.site-name {
  color: #2cc6c6;
  margin-left: 20px;
  font-weight: 600;
}
.text-light {
  color: #cbd5e1;
}
.justify-content-center {
  height: 60vh;
  align-items: center;
  justify-content: center;
}
.text-6c757d {
  color: #6c757d;
  font-size: 20px;
}
.failure-img {
  width: 600px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.color-ffffff {
  color: #ffffff;
}
